build/
Builds/
sandBox/
dist/
*.pyc
*egg-info/
*.log
*.so
*.dll
**/doc/_build/*
**/doc/gh-pages/*
DBStyle.json

.idea/.name

.idea/encodings.xml

.idea/GS_API.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

python/gsapi/.idea/workspace.xml

python/gsapi/.idea/vcs.xml

python/gsapi/.idea/modules.xml

python/gsapi/.idea/misc.xml

python/gsapi/.idea/inspectionProfiles/Project_Default.xml

python/gsapi/.idea/inspectionProfiles/profiles_settings.xml

python/gsapi/.idea/gsapi.iml

python/gsapi/.idea/encodings.xml

python/gsapi/.idea/.name

python/.idea/workspace.xml

python/.idea/python.iml

python/.idea/modules.xml

python/.idea/misc.xml

python/.idea/inspectionProfiles/Project_Default.xml

python/.idea/inspectionProfiles/profiles_settings.xml

python/.idea/encodings.xml

python/.idea/.name
