pythonEnv

build/
Builds/
sandBox/
dist/

*.pyc
*egg-info/
*.log
*.so
*.dll
*.iml
**/doc/_build/*
**/doc/gh-pages/*
DBStyle.json

.idea/*
python/.idea/*
python/gsapi/.idea/*
*.pyo

examples/Bassmine/output/*

profiled